@using TravelAgency_Prod.Models
@model IEnumerable<Tour>


@{
    ViewData["Title"] = "Favourite";
}

@{
    Layout = "_LayoutClients";
}


<div>
    <section class="section-3">
        <div class="blur">

            @foreach (var tour in Model)
            {

                <div class="container-section-3" id="container-section-3-1">
                    <a class="element-tour" asp-controller="Clients" asp-action="TourDetail2" asp-route-id="@tour.Id">
                        <div class="element-tour-1">
                            <div class="img-tour"></div>
                            <div class="inf-tour" id="inf-tour-1">
                                <h1 class="dataTour1" id="dataTour-1">Тур:</h1>
                                <p class="dataTour1">Страна:</p>
                                <p class="dataTour1">Кличество человек:</p>
                                <p class="dataTour1">Количество дней:</p>
                                <p class="dataTour1">Тип тура:</p>
                                <p class="dataTour1">Наличие:</p>
                            </div>
                            <div class="inf-tour" id="inf-tour-2">
                                <h1 class="dataTour" id="dataTour-1">@Html.DisplayFor(modelItem => tour.Name)</h1>
                                <p class="dataTour">@Html.DisplayFor(modelItem => tour.Country)</p>
                                <p class="dataTour">@Html.DisplayFor(modelItem => tour.PersonCount)</p>
                                <p class="dataTour">@Html.DisplayFor(modelItem => tour.Duration)</p>
                                <p class="dataTour">
                                    @{
                                        string massageCategory;
                                        if (tour.CategoryId == 1)
                                        {
                                            massageCategory = "All inclusive";
                                        }
                                        else
                                        {
                                            massageCategory = "Business";
                                        }
                                    }
                                    @massageCategory
                                </p>
                                <p class="dataTour">
                                    @{
                                        string massageAvailable;
                                        if (tour.Available == true)
                                        {
                                            massageAvailable = "Данный тур доступен";
                                        }
                                        else
                                        {
                                            massageAvailable = "Данный тур недоступен";
                                        }
                                    }
                                    @massageAvailable
                                </p>
                                <p class="dataTour" id="dataTour-cost">@Html.DisplayFor(modelItem => tour.Cost),00 $</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </section>
</div>

