@using TravelAgency_Prod.Models
@model IEnumerable<Tour>

@{
    ViewData["Title"] = "ToursList";
}
@{
    Layout = "_LayoutClients";
}


<div>
    <section class="section-3">
        <div class="blur">
            @{
                <form asp-controller="Clients" asp-action="ToursListWithSearch" method="get">
                    <div class="container-section-3" id="container-section-3">
                        <div class="search-box">
                            <input class="search-txt-1" type="text" name="Country" placeholder="Страна">
                            <input class="search-txt" type="date" name="DepartureDate" placeholder="Дата отъезда">
                            <input class="search-txt" type="date" name="ReturnDate" placeholder="Дата приезда">
                            <input class="search-txt-2" type="text" name="PersonCount" placeholder="Количество людей">

                            @*<a class="search-btn" asp-controller="Movies" asp-action="Index" method="get">*@
                            <input type="submit" class="serch-btn btn-otpravit" value="Отправить" />
                            @*<i class="fa-solid fa-magnifying-glass"></i>
                        </a>*@
                        </div>
                    </div>
                </form>







                @foreach (var tour in Model)
                {

                    <div class="container-section-3" id="container-section-3-1">
                        <a class="element-tour" asp-controller="Clients" asp-action="TourDetail" asp-route-id="@tour.Id">
                            <div class="element-tour-1">
                                <div class="img-tour"></div>
                                <div class="inf-tour" id="inf-tour-1">
                                    <h1 class="dataTour1" id="dataTour-1">Тур:</h1>
                                    <p class="dataTour1">Страна:</p>
                                    <p class="dataTour1">Кличество человек:</p>
                                    <p class="dataTour1">Количество дней:</p>
                                    <p class="dataTour1">Тип тура:</p>
                                    <p class="dataTour1">Наличие:</p>
                                </div>
                                <div class="inf-tour" id="inf-tour-2">
                                    <h1 class="dataTour" id="dataTour-1">@Html.DisplayFor(modelItem => tour.Name)</h1>
                                    <p class="dataTour">@Html.DisplayFor(modelItem => tour.Country)</p>
                                    <p class="dataTour">@Html.DisplayFor(modelItem => tour.PersonCount)</p>
                                    <p class="dataTour">@Html.DisplayFor(modelItem => tour.Duration)</p>
                                    <p class="dataTour">
                                        @{
                                            string massageCategory;
                                            if (tour.CategoryId == 1)
                                            {
                                                massageCategory = "All inclusive";
                                            }
                                            else
                                            {
                                                massageCategory = "Business";
                                            }
                                        }
                                        @massageCategory
                                    </p>
                                    <p class="dataTour">
                                        @{
                                            string massageAvailable;
                                            if (tour.Available == true)
                                            {
                                                massageAvailable = "Данный тур доступен";
                                            }
                                            else
                                            {
                                                massageAvailable = "Данный тур недоступен";
                                            }
                                        }
                                        @massageAvailable
                                    </p>
                                    <p class="dataTour" id="dataTour-cost">@Html.DisplayFor(modelItem => tour.Cost),00 $</p>
                                </div>
                            </div>
                        </a>
                    </div>

                }



            }
        </div>
    </section>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
