@model TravelAgency_Prod.Models.TourManager

@{
    ViewData["Title"] = "Delete";
}
@{
    Layout = "_LayoutAdmin";
}

<div class="container-register container-style">
    <h4>Удаление турменеджера</h4>
 
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
            @Html.DisplayFor(model => model.Surname)
        </dt>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
            @Html.DisplayFor(model => model.Name)
        </dt>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patronymic)
            @Html.DisplayFor(model => model.Patronymic)
        </dt>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
            @Html.DisplayFor(model => model.Email)
        </dt>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
            @Html.DisplayFor(model => model.Password)
        </dt>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-primary btn-otpravit" /> |
        <a asp-action="Index" class="btn btn-primary btn-otpravit">Back to List</a>
    </form>
</div>
