@model TravelAgency_Prod.Models.Tour

@{
    ViewData["Title"] = "Delete";
}
@{
    Layout = "_LayoutAdmin";
}

<div class="container-register container-style">
    <h4>Детали тура</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
            @Html.DisplayFor(model => model.Name)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
            @Html.DisplayFor(model => model.Country)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
            @Html.DisplayFor(model => model.City)
        </dt>
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonCount)
            @Html.DisplayFor(model => model.PersonCount)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
            @Html.DisplayFor(model => model.Cost)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentDate)
            @Html.DisplayFor(model => model.DepartmentDate)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
            @Html.DisplayFor(model => model.ReturnDate)
        </dt>
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
            @Html.DisplayFor(model => model.Duration)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Available)
            @Html.DisplayFor(model => model.Available)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel)
            @Html.DisplayFor(model => model.Hotel)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
            @Html.DisplayFor(model => model.CategoryId)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.img)
            @Html.DisplayFor(model => model.img)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
            @Html.DisplayFor(model => model.Description)
        </dt>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-primary btn-otpravit" /> |
        <a asp-action="Index" class="btn btn-primary btn-otpravit">Back to List</a>
    </form>
</div>
